// This section is part of the rails asset pipeline.
//= require_self
//= require_tree .

/*///////////////////////////////
GLOBAL SCSS VARIABLES 
////////////////*/

//Global layout
$page_width: 1100px;
$header_height: 50px;
$footer_header: 50px;

//Colors
$background_color: #333;
$main_link_color: #999;
$main_link_color_hover: #ccc;
$main_link_color_active: #fff;

$main-button-bkgcolor: #30B1A9;
$main-button-bkgcolor-hover: #48C5BD;
$main-button-bkgcolor-active: #5FD9D0;
$main-button-fntcolor: #fff;

$header-notice-color: #30B1A9;
$header-alert-color: #FF5F59;

//Fonts
$font: "Helvetica Neue";

//Sizes
$title-size: 24px;


/*///////////////////////////////
HTML RESET
////////////////*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input[type=checkbox] {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input {
  background: transparent;
  font-family: $font, Helvetica, Tahoma;
  text-shadow: 0 0 1px #222;
  -moz-text-shadow: 0 0 1px #222;
  -webkit-text-shadow: 0 0 1px #222;
	&:focus {
	  outline: none;
	}
} 
	
textarea {
  font-family: $font, Helvetica, Tahoma;
  background: transparent;
  resize: none;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 1px #222;
  -moz-text-shadow: 0 0 1px #222;
  -webkit-text-shadow: 0 0 1px #222;
	&:focus {
		outline: none;
	}
}

input[type=button], input[type=submit] {
	cursor: pointer;
}

::-webkit-input-placeholder {
   color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;  
}

:-ms-input-placeholder {  
   color: #666;  
}

/*///////////////////////////////
CONTAINER STYLIZATION
////////////////*/
html, body {
	background-color: $background_color;
	font-family: $font, Helvetica, Tahoma;
	margin: 0;
  padding: 0;
  height: 100%;
  text-shadow: 0 0 1px #222;
  -moz-text-shadow: 0 0 1px #222;
  -webkit-text-shadow: 0 0 1px #222;
}

#container {
	min-height: 100%;
  position: relative;
}

/*///////////////////////////////
HEADER STYLIZATION
////////////////*/
#header-frame {
	width: 100%;
	border-bottom: 2px solid #222;
	height: auto;
}

#header {
	margin: 0 auto;
	width: $page_width;
	height: $header_height;
}

#header-notifs {
	height: auto;
	border-bottom: 1px solid #222;
}

.notice {
	background-color: $header-notice-color;
	font-size: 13px;
	line-height: 33px;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.alert {
  @extend .notice;
	background-color: $header-alert-color;
}

.logo img {
	float: left;
	margin: 15px 30px 0 0;
	height: 20px;
}

.header-links {
	float: left;
	line-height: 50px;
	font-weight: bold;
	color: $main_link_color;
	font-size: 13px;
	margin-left: 30px;	
	&:hover { 
		color: $main_link_color_hover; 
	}
	&:active {
		color: $main_link_color_active;
	}
}

.right-link {
	float: right;
}

/*///////////////////////////////
CONTENT STYLIZATION
////////////////*/
#content-frame {
  width: 1100px;
	margin: 0 auto;
  padding-bottom: $footer_header;
}

#content {
	padding: 20px 0;
}

.title {
	font-size: $title-size;
	color: #ccc;
	margin-bottom: 20px;
	width: 100%;
}

/*///////////////////////////////
FOOTER STYLIZATION
////////////////*/
#footer {
	margin: 0 auto;
	width: $page_width;
	height: $footer_header;
}

#footer-frame {
	width: 100%;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_header;
}

#footer a {
	color: $main_link_color;
	font-size: 13px;
	font-weight: bold;
	margin: 0 20px 0 0;
	&:hover {
	  color: $main_link_color_hover;
  }
  &:active {
	  color: $main_link_color_active;
  }
}

/*///////////////////////////////
GLOBAL ELEMENT STYLIZATION
////////////////*/
.main-button {
	background-color: $main-button-bkgcolor;
	color: $main-button-fntcolor;
	border: none;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 20px;
	border-bottom: 1px solid #222;
	&:hover {
		background-color: $main-button-bkgcolor-hover;
	}
	&:active {
		background-color: $main-button-bkgcolor-active;
	}
}