.devise-input {
	border: none;
	border-bottom: 5px solid #666;
	width: 300px;
	font-size: 20px;
	color: #ccc;
	margin: 20px 0 10px 0;
	font-weight: bold;
}

.devise-button {
	margin: 20px 0;
}

.devise-rememberme {
	font-size: 13px;
	color: #ccc;
	font-weight: bold;
	margin: 10px 0 0 0;
}

.devise-forgot {
	margin: 0 0 50px 0;
}

.devise-forgot-pass {
	color: #999;
	font-size: 13px;
}