<!DOCTYPE html>
<html>
<head>
  <title>Coach.me</title>
</head>
<body>
  <div id="header-frame">
    <a class="logo"></a>
    <a class="about">About</a>
    <a class="find">Find</a>
    <a class="join">Join</a>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
  </div>
</body>
</html>
